:root {
  --body-background: #0e0e0e;
  --color-logo: #ff5b50;
  --card-color: #252525;
  --text-color: #fff;
  --subtitle-color: #5a5757;
  --black-text: #000;
  --color-input: #0d0d0d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  /* padding: 0 5vw; */

  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--body-background);
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  border: 1px solid var(--subtitle-color);
  border-radius: 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5vw;

  width: 100vw;
  min-height: 100vh;
}

h3 {
  font-size: 3.1em;
}

h4 {
  font-size: 1.87em;
}

h5 {
  font-size: 1.25em;
}

/* --------------------------------- Header --------------------------------- */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  left: 5vw;
  right: 5vw;

  width: 90vw;
  height: 50px;

  margin-top: 57px;
  margin-bottom: 197px;
}

.header img {
  width: 20vw;
  max-width: 263px;
}

.headerNav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerNav a {
  font-size: 18px;
  text-decoration: none;
  color: var(--text-color);

  margin: 0 3vw;
}

.headerNav a:hover {
  color: var(--color-logo);
}

.headerButton {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 230px;
  max-width: 15%;
  font-size: 1em;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  line-height: 19.5px;

  cursor: pointer;
}

.headerButton img {
  width: 1.4em;
  margin: 0 2px;
}

@media (max-width: 840px) {
  .headerButton {
    font-size: 0.8em;
  }
}

@media (max-width: 670px) {
  .headerNav {
    text-align: center;
  }
  .headerButton {
    flex-direction: column;
    font-size: 0.6em;
    line-height: normal;
    height: auto;
  }
}

@media (max-width: 425px) {
  .header {
    flex-direction: column;
  }

  .header > img {
    width: 50vw;
    margin-bottom: 15px;
  }

  .headerNav {
    float: left;
    margin-bottom: 15px;
  }

  .headerNav a {
    font-size: 14px;
  }

  .headerButton {
    max-width: 50%;
  }
}

/* ---------------------------- Background image ---------------------------- */

.background {
  position: absolute;
  top: 0;

  height: 1000px;
  width: 100vw;
  object-fit: cover;

  z-index: -1;
}

/* --------------------------------- Main 1 --------------------------------- */

.main-1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 200px;
  margin-bottom: 100px;
}

.artists {
  max-width: 401px;
}

.artists > p {
  font-size: 18px;
  margin-bottom: 55px;
}

.selectedOnes {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.selectedOnes > img {
  width: 169px;
  max-width: 15vw;
  float: left;
}

.selectedOnes > p {
  height: 100%;
}

.main-1 h2 {
  font-size: 3.12em;
  max-width: 596px;
  max-height: 246px;
}

.main-1 > img {
  width: 15vw;
  max-width: 200px;
  max-height: 200px;
}

@media (max-width: 1160px) {
  .main-1 {
    flex-direction: column;
  }

  .artists {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: unset;
  }

  .artists > p {
    height: 50%;
    margin-bottom: unset;
  }

  .selectedOnes img {
    float: unset;
    margin-right: 15px;
  }

  .selectedOnes > p {
    height: auto;
  }

  .main-1 h2 {
    float: left;
    text-align: center;
    margin-bottom: 15px;
  }
}

@media (max-width: 640px) {
  .artists {
    margin-bottom: 15px;
  }

  .artists > p {
    margin-right: 15px;
  }

  .selectedOnes {
    flex-direction: column;
  }

  .selectedOnes > img {
    max-width: 30vw;
    margin-bottom: 15px;
  }
}

@media (max-width: 531px) {
  .main-1 h2 {
    max-height: unset;
    font-size: 2.5em;
  }

  .main-1 > img {
    max-height: unset;
    max-width: unset;
    width: 30vw;
  }
}

/* -------------------------------- Gallery -------------------------------- */

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.gallery img {
  border: 1px solid white;
  margin: 0 16px;
}

.gallery :nth-child(n + 5) {
  margin-top: 61px;
}

@media (max-width: 1506px) {
  .gallery :nth-child(n + 4) {
    margin-top: 61px;
  }
}

@media (max-width: 1129px) {
  .gallery {
    justify-content: center;
  }
  .gallery :nth-child(n + 3) {
    margin-top: 61px;
  }
  .gallery img {
    margin: 0 2%;
  }
}

@media (max-width: 741px) {
  .gallery :nth-child(n + 2) {
    margin-top: 61px;
  }
}

/* --------------------------------- Main 2 --------------------------------- */

.main-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99vw;
  height: 660px;
  margin-bottom: 150px;
}

.numbers-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 20vw;
  border-right: 1px solid #5a5757;
  border-bottom: 1px solid #5a5757;
  text-align: center;
}

.numbers-2 h5 {
  color: var(--subtitle-color);
}

.container-2 {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 80%;
}

.texts-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-grow: 3;
}

.texts-2 article {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  height: 100%;
}

.texts-2 u {
  color: var(--color-logo);
}

.texts-2 cite {
  text-decoration: underline;
  font-style: normal;
}

.texts-2 article p,
cite {
  width: 100%;
}

.main-2 img {
  width: 100%;
}

/* --------------------------------- Main 3 --------------------------------- */

.main-3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 937px;
  margin-bottom: 151px;
}
.line-3 {
  width: 1px;
  background-color: white;
}

.title-3 {
  width: 100%;
  flex: 1;
  margin-left: 8vw;
}

.title-3 span {
  color: var(--color-logo);
}

.main-3 > div {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex: 1;
}

.main-3 div:first-of-type .astronauts-3 {
  margin-bottom: 50px;
}

.astronauts-3 {
  display: block;
  flex-direction: column;
  max-width: 350px;
  height: 328px;
  max-height: 328px;
  /* margin-bottom: 50px; */
  position: relative;
}

.astronauts-3 h4 {
  width: 80%;
  font-size: 1.8em;
  font-weight: 500;
  float: left;
  margin-bottom: 44px;
}

.astronauts-3 :nth-child(2) {
  width: 20%;
  max-width: 28px;
  float: right;
}

.astronauts-3 p,
h5 {
  font-size: 1.25em;
  margin-bottom: 26px;
}

.astronauts-3 h5 {
  text-align: left;
  float: left;
}

.astronauts-3 p {
  float: right;
  text-align: right;
  color: var(--color-logo);
}

.astronauts-3 img:last-of-type {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  max-width: 90vw;
}

@media (max-width: 830px) {
  .line-3 {
    width: 100%;
    height: 1px;
    margin-bottom: 15px;
  }

  .title-3 {
    margin-left: 0;
    text-align: center;
    margin-bottom: 80px;
  }

  .astronauts-3 {
    margin-bottom: 50px;
  }

  .main-3 > div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
    margin-bottom: 15px;
  }
}

/* --------------------------------- Main 4 --------------------------------- */

.main-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 683px;
}

.title-4 {
  margin-bottom: 120px;
  text-align: center;
}

.title-4 span {
  color: var(--color-logo);
}

.artists-4 {
  display: grid;
  grid-template:
    'artsit artsit artsit '
    'artsit artsit artsit ';
  gap: 111px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 54px;
}

.artist-4 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 350px;
  max-width: 90vw;
  height: 150px;
  background-color: var(--card-color);
}

.artists-4 > :nth-child(2) {
  background-color: var(--color-logo);
  color: white;
}

.artist-4 p {
  color: var(--color-logo);
}

.artist-4 > :nth-child(2) p {
  color: var(--text-color);
}

.link-4 {
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 1.25em;
  color: var(--text-color);
  margin-bottom: 20px;
}

.link-4 img {
  width: 17px;
  margin-left: 13px;
}

@media (max-width: 1430px) {
  .artists-4 {
    grid-template:
      'artsit artsit '
      'artsit artsit'
      'artsit artsit ';
  }
}

@media (max-width: 950px) {
  .artists-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
