:root {
  --body-background: #0e0e0e;
  --color-logo: #ff5b50;
  --card-color: #252525;
  --text-color: #fff;
  --subtitle-color: #5a5757;
  --black-text: #000;
  --color-input: #0d0d0d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  /* padding: 0 5vw; */

  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--body-background);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5vw;

  width: 100vw;
  min-height: 100vh;
}

/* --------------------------------- Header --------------------------------- */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  left: 5vw;
  right: 5vw;

  width: 90vw;
  height: 50px;

  margin-top: 57px;
  margin-bottom: 197px;
}

.header img {
  width: 20vw;
  max-width: 263px;
}

.headerNav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerNav a {
  font-size: 18px;
  text-decoration: none;
  color: var(--text-color);

  margin: 0 3vw;
}

.headerNav a:hover {
  color: var(--color-logo);
}

.headerButton {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 230px;
  max-width: 15%;
  font-size: 1em;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  line-height: 19.5px;

  cursor: pointer;
}

.headerButton img {
  width: 1.4em;
  margin: 0 2px;
}

@media (max-width: 840px) {
  .headerButton {
    font-size: 0.8em;
  }
}

@media (max-width: 670px) {
  .headerNav {
    text-align: center;
  }
  .headerButton {
    flex-direction: column;
    font-size: 0.6em;
    line-height: normal;
    height: auto;
  }
}

@media (max-width: 425px) {
  .header {
    flex-direction: column;
  }

  .header > img {
    width: 50vw;
    margin-bottom: 15px;
  }

  .headerNav {
    float: left;
    margin-bottom: 15px;
  }

  .headerNav a {
    font-size: 14px;
  }

  .headerButton {
    max-width: 50%;
  }
}

/* ---------------------------- Background image ---------------------------- */

.background {
  position: absolute;
  top: 0;

  height: 1000px;
  width: 100vw;
  object-fit: cover;

  z-index: -1;
}

/* --------------------------------- Main 1 --------------------------------- */

.main-1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 200px;
  margin-bottom: 100px;
}

.artists {
  max-width: 401px;
}

.artists > p {
  font-size: 18px;
  margin-bottom: 55px;
}

.selectedOnes {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.selectedOnes > img {
  width: 169px;
  max-width: 15vw;
  float: left;
}

.selectedOnes > p {
  height: 100%;
}

.main-1 h2 {
  font-size: 3.12em;
  max-width: 596px;
  max-height: 246px;
}

.main-1 > img {
  width: 15vw;
  max-width: 200px;
  max-height: 200px;
}

@media (max-width: 1160px) {
  .main-1 {
    flex-direction: column;
  }

  .artists {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: unset;
  }

  .artists > p {
    height: 50%;
    margin-bottom: unset;
  }

  .selectedOnes img {
    float: unset;
    margin-right: 15px;
  }

  .selectedOnes > p {
    height: auto;
  }

  .main-1 h2 {
    float: left;
    text-align: center;
    margin-bottom: 15px;
  }
}

@media (max-width: 640px) {
  .artists {
    margin-bottom: 15px;
  }

  .artists > p {
    margin-right: 15px;
  }

  .selectedOnes {
    flex-direction: column;
  }

  .selectedOnes > img {
    max-width: 30vw;
    margin-bottom: 15px;
  }
}

@media (max-width: 531px) {
  .main-1 h2 {
    max-height: unset;
    font-size: 2.5em;
  }

  .main-1 > img {
    max-height: unset;
    max-width: unset;
    width: 30vw;
  }
}

/* -------------------------------- Gallery -------------------------------- */

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.gallery img {
  border: 1px solid white;
  margin: 0 16px;
}

.gallery :nth-child(n + 5) {
  margin-top: 61px;
}

@media (max-width: 1506px) {
  .gallery :nth-child(n + 4) {
    margin-top: 61px;
  }
}

@media (max-width: 1129px) {
  .gallery {
    justify-content: center;
  }
  .gallery :nth-child(n + 3) {
    margin-top: 61px;
  }
  .gallery img {
    margin: 0 2%;
  }
}

@media (max-width: 741px) {
  .gallery :nth-child(n + 2) {
    margin-top: 61px;
  }
}

/* --------------------------------- Main 2 --------------------------------- */
